<body class="hold-transition skin-blue sidebar-mini">
<%= render 'layouts/header' %>
<div class="content-wrapper">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Add Member
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-home"></i> Home Page</a></li>
      <li class="active">Add Member</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-header">
          <div class="box-header with-border">
            <h3 class="box-title">Basic Information</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <%= form_for(@user) do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this member from being saved:</h2>

                <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="box-body">
             <div class="form-group">
                <label>Full Name</label>
                <%= f.text_field :name, autocomplete: "on", placeholder: "Enter Full Name", class: "form-control", required: true %>
              </div>
             <div class="form-group">
                <label>E-mail Address</label>
                <%= f.text_field :email, autocomplete: "on", placeholder: "Enter Email Address", class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <label>Password</label>
                <%= f.text_field :password, autocomplete: "off", placeholder: "Enter password", class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <label>Password</label>
                <%= f.text_field :password, autocomplete: "off", placeholder: "Enter Phone Number", class: "form-control" %>
              </div>
              
              <div class="form-group">
                <label>Phone Number</label>
                <%= f.number_field :phone, autocomplete: "off", placeholder: "Enter Phone Number", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.check_box :admin %>
                <label>Is Admin</label>
              
                <%= f.check_box :customer  %>
                <label>Is Customer</label>
                
              </div>
            
            <!-- /.box-body -->
            <div class="box-footer">
              <%= f.submit "Submit", class: "btn btn-primary"%>
            </div>
            <% end %>
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (right) -->
    </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->

</div>
<%= render 'layouts/footer' %>
</body>
