<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="index.html">
        <b>Goddam</b>.com</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Reset your password</p>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="row">

        <div class="col-xs-8">
          <div class="checkbox icheck">
            <%= link_to "Back to login", user_session_path %>
          </div>
        </div>

        <!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit "Reset", class: "btn btn-primary btn-block btn-flat" %>
        </div>
        <% end %>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</body>
