<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="">
        <b>Godam</b>.com</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Enter Your Credentials Below</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">

        <% if devise_mapping.rememberable? -%>
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <%= f.check_box(:remember_me) %>
              Remember me
            </label>
          </div>
        </div>
        <% end -%>
        <!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit "Log in", class: "btn btn-primary btn-block btn-flat" %>
        </div>
        <% end %>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.login-box-body -->
  </div>

  <!-- /.login-box -->

  <!-- iCheck -->
  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue', radioClass: 'iradio_square-blue', increaseArea: '20%' // optional
      });
    });
  </script>
</body>
