<section class="content">
<div class="row">
  <!-- left column -->
  <div class="col-md-6">
    <!-- general form elements -->
    <div class="box box-header">
      <div class="box-header with-border">
        <h3 class="box-title">Add Category</h3>
      </div>

<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box-body">
  <div class="form-group">
    <%= form.label :category %>
    <%= form.text_field :category, id: :category_category, class: "form-control",  placeholder: "Enter Category", required: true %>
  </div>
</div>
  <div class="box-footer">
       <%= form.submit "Create Category", class: "btn btn-primary"%>
   </div>
<% end %>
</div>
</div>
</div>
</section>
