<body class="hold-transition skin-blue sidebar-mini">
<%= render 'layouts/header' %>
<div class="content-wrapper">
    <p id="notice"><%= notice %></p>

    <h1>Category Detail</h1>
    <div class="box-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>

        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.category %></td>
            <td><%= link_to 'Show', category %></td>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>

    <br>

    <%= link_to 'New Category', new_category_path %>
    </body>
