<body class="hold-transition skin-blue sidebar-mini">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
      <h1>
        Add Category
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home Page</a></li>
        <li class="active">Add Category</li>
      </ol>
      </section>
      

                <%= render 'form', category: @category %>
                <%= link_to 'Show Category', categories_path %>
                
    </div>
    <%= render 'layouts/footer' %>

</body>
